h1 {
	color: red;
}
jumbo {
   background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(200, 54, 54, 0.5); 
}

body {
	background-image: url("https://i.imgur.com/E9E1A4e.jpg");
}