{% extends "base.html" %}

{% block app_content %}

	<head>
		<style type="text/css">
			#container {
				background: rgba(255, 255, 255, 0.9);
				padding-bottom: 40px;
				padding-left: 40px;
			}

			body {
				height: 100%;
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;
			}


		</style>
	</head>

	<body>
		<div class="container-fluid" id="container">
			<div class="col-md-6">
				<h2>Input mobility details for {{ partner.name }} </h2>
					<br>
		        	{{ wtf.quick_form(form) }}
	       	</div>
    	</div>
    </body>
	
{% endblock %}

