{% extends "base.html" %}

{% block app_content %}
	<title> Add visit </title>
	<h2>Add new visit for {{ partner.offname }}</h2>
	<form action="" method="post">
		{{ form.hidden_tag() }}

		<p>
			{{ form.vtype.label }}<br>
			{{ form.vtype }}<br>
			{% for error in form.vtype.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.date.label }}<br>
			{{ form.date }}<br>
			{% for error in form.date.errors %}
			<span style="colour: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.report.label }}<br>
			{{ form.report(size=60, maxlength=500) }}<br>
			{% for error in form.report.errors %}
			<span style="colour: red;">[{{ error }}]</span>
			{% endfor %}
		</p>

		<p>{{ form.submit() }}</p>
		
	</form>
{% endblock %}

