{% extends "base.html" %}

{% block app_content %}

	<head>
		<style type="text/css">
			#container {
				background: rgba(255, 255, 255, 0.9);
				padding-bottom: 20px;
				padding-left: 40px;
			}

			#results {
				background: rgba(255, 255, 255, 0.9);
				padding-bottom: 20px;
			}

			body {
				height: 100%;
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;
			}


		</style>
	</head>

	<body>
		<div class="container-fluid" id="container">
			<h1> {{ partner.name }} - Agreement Records </h1>
				<table class="table">
					<thead>
						<tr>
			    			<th scope="col">#</th>
					    	<th scope="col">Type</th>
					    	<th scope="col">Start</th>
					    	<th scope="col">End</th>
			    		</tr>
					</thead>
					<tbody>
			  		{% for a in agrees %}
				    	<tr>
					    	<th scope="row">{{ a.id }}</th>
					    	<td>{{ a.atype }}</td>
					     	<td>{{ a.start_date }}</td>
					     	<td>{{ a.end_date }}</td>
						</tr>
			    	{% endfor %}
					</tbody>
				</table>
			<p><a class="btn btn-primary btn-small" href="{{ url_for('partner', id=partner.id)}}" role="button">&laquo; Return to partner </a></p>
	   </div>
	</body>


{% endblock %}