{% extends "base.html" %}

{% block app_content %}
	<h1>Hello, {{ current_user.userid }}! Welcome to the Portal.</h1>
	<h2>Partnership updates in your region or activity of interest</h2>

	{% for collab in collabs %} <!-- for loop to display every object in list -->
	<div><p><b>{{ collab.contact.userid }} created a new partnership:</b>
		<br>Name: <a href="{{ url_for('partner') }}">{{ collab.name }}</a>
		<br>Location: {{ collab.city }}, {{ collab.country }}
		<br>Type: {{ collab.ptype }}</p></div>
	{% endfor %}

{% endblock %}