{% extends "base.html" %}

{% block app_content %}
	<head>
		<style type="text/css">
			body {
				
				height: 100%;
				background-size: cover;
			    background-position: center;
			    background-repeat: no-repeat;
			    color: white;
			    padding-top: 20px
				}
			#inner-container {
				padding-top: 20px;
				padding-bottom: 20px;
				border-radius: 25px;
				
				width: 70%;
			}

			#main-container {
				padding-top: 20px;
			
			}

			#pad-container {
				padding-top: 20px;
			
			}


		</style>
	</head>

<div class="container" id="main-container">
	<div class="row">
		<div class="col-md-4">
			<div class="container" id="inner-container">
				<center>
					<a href="{{ url_for('search') }}"><img src="https://s19.postimg.cc/yu8ntqo1f/magnifier-tool-on-earth-globe.png" width="200" height="200" align="middle"></a>
					<br>
					<br>
					<p><a type="button" class="btn btn-primary" href="{{ url_for('search') }}">Find a partner</a></p>
				</center>
			</div>
		</div>
		<div class="col-md-4">
			<div class="container" id="inner-container">
				<center>
					<a href="{{ url_for('newpartner') }}"><img src="https://s19.postimg.cc/41bcpehnn/edit-_1.png" width="200" height="200" align="middle"></a>
					<br>
					<br>
					<p><a type="button" class="btn btn-primary" href="{{ url_for('newpartner') }}">Add a partner</a></p>
				</center>
			</div>
		</div>
		<div class="col-md-4">
			<div class="container" id="inner-container">
				<center>
					<a href="{{ url_for('search') }}"><img src="https://s19.postimg.cc/yu8ntqo1f/magnifier-tool-on-earth-globe.png" width="200" height="200" align="middle"></a>
					<br>
					<br>
					<p><a type="button" class="btn btn-primary" href="{{ url_for('browsecountry') }}">Browse by country</a></p>
				</center>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container-fluid" id="pad-container"></div>
	</div>
<!-- 	<div class="row">
		<div class="col-md-6">
			<div class="container" id="inner-container">
				<center>
					<a href="{{ url_for('search') }}"><img src="https://s19.postimg.cc/yu8ntqo1f/magnifier-tool-on-earth-globe.png" width="200" height="200" align="middle"></a>
					<br>
					<br>
					<p><a type="button" class="btn btn-primary" href="{{ url_for('browsecountry') }}">Browse by country</a></p>
				</center>
			</div>
		</div>
		<div class="col-md-6">
			<div class="container" id="inner-container">
				<center>
					<a href="{{ url_for('newpartner') }}"><img src="https://s19.postimg.cc/41bcpehnn/edit-_1.png" width="200" height="200" align="middle"></a>
					<br>
					<br>
					<p><a type="button" class="btn btn-primary" href="{{ url_for('newpartner') }}">Add a partner</a></p>
				</center>
			</div>
		</div>
	</div> -->
</div>
{% endblock %}