{% extends "base.html" %}

{% block app_content %}
	
	<head>
		<style type="text/css">
			#jumbo {
				background: rgba(255, 255, 255, 0);
				text-align: center;
				min-height: 100%;
			}

			body {
				background-image: url("/static/background.jpg");
				background-color: #6dc8d5;
				height: 100%;
				background-size: cover;
			    background-position: center;
			    background-repeat: no-repeat;
			    color: white;
				}

		</style>
	</head>

	<body>
		<div class="jumbotron" id="jumbo">
			<div class="container-fluid" id="cont">
	        	<div class="row">
	        		<img src="https://s15.postimg.cc/wfesqe8pn/Unseen-_Uni-_Logo.png">
			  		<h1 class="display-4">Welcome to UniGO</h1>
			  		<p class="lead">Log in to connect with the world.</p>
			  		<p class="lead">
					<a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Log in</a>
					</p>
				</div>
			</div>
		</div>
	</body>

{% endblock %}

