{% extends "base.html" %}

{% block app_content %}
	
	<head>
		<style type="text/css">
			#container {
				background: rgba(255, 255, 255, 0.9);
				padding-bottom: 20px;
				padding-left: 40px;
			}

			#results {
				background: rgba(255, 255, 255, 0.9);
				padding-bottom: 20px;
			}

			body {
				height: 100%;
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;
			}

			.btn {
                background-color: #4280B4 ;
                border-color: #4280B4 ;
            }

		</style>

	</head>

	<body>
		
		<div class="container-fluid" id="container">
			<h1>Mobility Data for {{ partner.name }}</h1>

			{% if mobilities %}
        	<h3>Mobility details</h3>
            <table class="table table-striped">
				<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Academic Year</th>
			      	<th scope="col">Mobility Type</th>
			      	<th scope="col">Level</th>
			      	<th scope="col">Total FTE Inbound</th>
			      	<th scope="col">Total FTE Outbound</th>
			    </tr>
				</thead>
				<tbody>
			  	{% for m in mobilities %}
			    <tr>
					<th scope="row">{{ m.id }}</th>
					<td>{{ m.session }}</td>
			    	<td>{{ m.mobilitytype }}</td>
			    	<td>{{ m.level }}</td>
					<td>{{ m.totalin }}</td>
			    	<td>{{ m.totalout }}</td>
				</tr>
			    {% endfor %}
				</tbody>
			</table>
			{% else %}
				<h3><p><i>There are no mobilities recorded for this partner yet.</i> <a class="btn btn-primary btn-small" href="{{ url_for('addmobility', id=partner.id) }}" role="button">Add mobility data &raquo;</a></p></h3>
			     <br>
			{% endif %}
			<p><a class="btn btn-primary btn-small" href="{{ url_for('partner', id=partner.id)}}" role="button">&laquo; Return to partner </a></p>
			</div>
	</body>

{% endblock %}