{% extends "base.html" %}

{% block app_content %}

	<head>
		<style type="text/css">
			#partner-container {
				background: rgba(255, 255, 255, 0.9);
				padding-bottom: 20px;
				padding-left: 40px;
			}

			#results {
				background: rgba(255, 255, 255, 0.9);
				padding-bottom: 20px;
			}

			body {
				height: 100%;
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;
			}

			.btn {
                background-color: #4280B4 ;
                border-color: #4280B4 ;
                color: white;
            }

		</style>
		<!-- Javascript provided by Google Charts API -->
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	</head>


	<body>
		<div class="container-fluid" id="partner-container">
        <div class="row">
        	<div class="col-md-6">
        	<h1>Official Partnership Record - {{ partner.name }}</h1>
			<h3><i>Official name: {{ partner.offname }}</i></h3>
				<h2>Key information</h2>
				<br>
					<h4><b>Location:</b> {{ partner.city }}, <a href="{{ url_for('country', iso=country.iso) }}">{{ country.name }}</a></h4>
					<h4><b>Owner:</b> {{ user.sname }}, {{ user.fname }}</h4>
					<h4><b>Type:</b> {{ org.name }}</h4>
					<h4><b>Date created:</b> {{ partner.created_date.strftime('%d/%m/%Y') }}</h4>
					<br>
<!-- 					<h1>TEST AREA:</h1>
					<p>LABELS = {{ labels[0] }} - {{ labels[1] }} - {{ labels[2] }} - {{ labels[3] }}</p>
					<p>VALUES =  {{ data[0] }} - {{ data[1] }} - {{ data[2] }} - {{ data[3] }} {{ data[4] }} - {{ data[5] }} - {{ data[6] }} - {{ data[7] }}</p> -->

			        <p><a class="btn btn-primary btn-sm" href="{{ url_for('editpartner', id=partner.id) }}" role="button">Edit details &raquo;</a></p>
			</div>
			<div class="col-md-4">
            <h2>Mobility data</h2>
            <div id="chart_div"  style="width: 600px; height: 400px;"></div>
            <!-- this chart javascript outline provided by Google Charts -->
            <script type='text/javascript'>//<![CDATA[ 
 
				google.load('visualization', '1', {packages: ['corechart', 'bar']});
				google.setOnLoadCallback(drawBasic);
				 
				function drawBasic() {
				 
				var data = google.visualization.arrayToDataTable([
				        ['Year', 'Inbound','Outbound'],
				        ['{{labels[0]}}', {{data[0]}}, {{data[1]}}],
				        ['{{labels[1]}}', {{data[2]}}, {{data[3]}}],
				        ['{{labels[2]}}', {{data[4]}}, {{data[5]}}],
				        ['{{labels[3]}}', {{data[6]}}, {{data[7]}}]
				      ]);
				 
				      var options = {
				        title: 'Mobility data overview',
				        chartArea: {width: '60%'},
				        hAxis: {
				          title: '',
				          minValue: 0
				        },
				        vAxis: {
				          title: ''
				        }, 
				        colors: ['#A35622', '#78ADB4']

				      };
				 
				      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
				 
				      chart.draw(data, options);
				    }
				//]]>  
				 
			</script>
			<br><br><a class="btn btn-primary btn-sm" href="{{ url_for('mobilitydata', id=partner.id)}}" role="button">View details &raquo;</a>    <a class="btn btn-primary btn-sm" href="{{ url_for('addmobility', id=partner.id) }}" role="button">Add mobility data &raquo;</a>
 
        </div>
    </div>
        <div class="row">
            <h2>Agreement details</h2>

            {% if agrees %}
            <table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Type</th>
			      <th scope="col">Start</th>
			      <th scope="col">End</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for a in agrees %}
			    <tr>
			    	<th scope="row">{{ a.id }}</th>
			    	<td>{{ a.atype }}</td>
			     	<td>{{ a.start_date.strftime('%d/%m/%Y') }}</td>
			     	<td>{{ a.end_date.strftime('%d/%m/%Y') }}</td>
				</tr>
			    {% endfor %}
			  </tbody>
			</table>
			<a class="btn btn-primary btn-sm" href="{{ url_for('viewagrees', id=partner.id) }}" role="button">View all agreement details &raquo;</a>  
			<a class="btn btn-primary btn-sm" href="{{ url_for('addagree', id=partner.id) }}" role="button">Add a new agreement &raquo;</a>

			{% else %}
			<br>
			<p>There are no active agreements with this organisation.</p>
			<a class="btn btn-primary btn-sm" href="{{ url_for('addagree', id=partner.id) }}" role="button">Add a new agreement &raquo;</a>
			{% endif %}
			
		</div>
          	
        <div class="row">
            <h2>Visit details</h2>

            {% if visits %}
            <table class="table table-striped">
			  <thead>
			    <tr>
			      	<th scope="col">Start Date</th>
			      	<th scope="col">End Date</th>
			      	<th scope="col">Type</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for v in visits %}
			    <tr>
			    	<th scope="row">{{ v.start_date }}</th>
			    	<td>{{ v.end_date }}</td>
			    	<td>{{ v.vtype }}</td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
			<p><a class="btn btn-primary btn-sm" href="{{ url_for('visitdetails', id=partner.id) }}" role="button">View all visit details &raquo;</a> 
			<a class="btn btn-primary btn-sm" href="{{ url_for('addvisit', id=partner.id) }}" role="button">Add a visit &raquo;</a></p>
			{% else %}
			<br>
			<p>No visits have been recorded with this organisation.</p>
			<p><a class="btn btn-primary btn-sm" href="{{ url_for('addvisit', id=partner.id) }}" role="button">Add a visit &raquo;</a></p>
			{% endif %}
			
			</div>

          	
        </div>

	</body>
{% endblock %}