{% extends "base.html" %}

{% block app_content %}

	<head>
	</head>

	<h1>Official Partnership Record - {{ partner.name }}</h1>
	<h3><i>Official name: {{ partner.offname }}</i></h3>
	<body>
		<div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <h2>Key information</h2>
			<br><b>Location:</b> {{ partner.city }}, {{ partner.country }}
			<br><b>Owner:</b> {{ user.userid }}
			
			<br><b>Type:</b> {{ partner.ptype }}
			<br><b>Date created:</b> {{ partner.created_date }} </p>
            <a class="btn btn-secondary" href="#" role="button">Edit details &raquo;</a>
          </div>
          <div class="col-md-4">
            <h2>Agreement details</h2>

            {% if agrees %}
            <table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Type</th>
			      <th scope="col">Start</th>
			      <th scope="col">End</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for a in agrees %}
			    <tr>
			    	<th scope="row">{{ a.id }}</th>
			    	<td>{{ a.atype }}</td>
			     	<td>{{ a.start_date }}</td>
			     	<td>{{ a.end_date }}</td>
				</tr>
			    {% endfor %}
			  </tbody>
			</table>
			<p><a class="btn btn-secondary" href="{{ url_for('viewagrees', id=partner.id) }}" role="button">View all agreement details &raquo;</a>
			<br><a class="btn btn-secondary" href="{{ url_for('addagree', id=partner.id) }}" role="button">Add a new agreement &raquo;</a></p>
			{% else %}
			<br>
			<p>There are no active agreements with this organisation.</p>
			<p><a class="btn btn-secondary" href="{{ url_for('addagree', id=partner.id) }}" role="button">Add a new agreement &raquo;</a></p>
			{% endif %}
			
			</div>
          	
          	<div class="col-md-4">
            <h2>Visit details</h2>

            {% if agrees %}
            <table class="table">
			  <thead>
			    <tr>
			      	<th scope="col">Date</th>
			      	<th scope="col">Type</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for v in visits %}
			    <tr>
			    	<th scope="row">{{ v.date }}</th>
			    	<td>{{ v.vtype }}</td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
			<p><a class="btn btn-secondary" href="{{ url_for('visitdetails', id=partner.id) }}" role="button">View all visit details &raquo;</a>
			<br><a class="btn btn-secondary" href="{{ url_for('addvisit', id=partner.id) }}" role="button">Add a visit report &raquo;</a></p>
			{% else %}
			<br>
			<p>There are no active agreements with this organisation.</p>
			<p><a class="btn btn-secondary" href="{{ url_for('addagree', id=partner.id) }}" role="button">Add a new agreement &raquo;</a></p>
			{% endif %}
			
			</div>

          	<div class="col-md-4">
            <h2>Mobility data</h2>
            <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTef5yGrK_cSzk63ZpbL2lYxWSGO1Rnlhrnz1CpAsUFU_g9HCnzMu8K3dJKFdh1MsvEDdMhdgSIp95Z/pubchart?oid=1044603541&amp;format=interactive"></iframe>
            <br><a class="btn btn-secondary" href="{{ url_for('addmobility') }}" role="button">Add mobility data &raquo;</a>
            <br><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
          </div>
        </div>

	</body>
{% endblock %}