{% extends "base.html" %}

{% block app_content %}
	
	<head>
		<style type="text/css">
			#container {
				background: rgba(255, 255, 255, 0.9);
				padding-bottom: 20px;
				padding-left: 40px;
			}

			body {
				height: 100%;
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;
			}

			.btn {
                background-color: #4280B4 ;
                border-color: #4280B4 ;
            }

            .borderless td, .borderless th {
            	border: none;
            }

		</style>

	</head>

	<body>
		<div class="container-fluid" id="container">
			<h1> Hello, {{ user.fname }}</h1>
			<div class="row">
				<table>
			        <tr valign="top">
			            <td><img src="/static/avatar.png"></td>
			            <td>
			            	<h2> User details </h2>
							<p><b>Name:</b> {{ user.fname }} {{ user.sname }}</p>
							<p><b>Userid:</b> {{ user.userid }}</p>
							<p><b>Email:</b> {{ user.email }}</p>
							{% if user.is_admin() %}
							<p><b>Role:</b> {{ user.role }}</p>
							{% endif %}
							<p><a class="btn btn-primary btn-small" href="{{ url_for('edituser') }}" role="button">Edit details &raquo;</a>
			   	<a class="btn btn-primary btn-small" href="{{ url_for('changepassword') }}" role="button">Change password &raquo;</a></p>
						</td>
			        </tr>
			   	</table>
			   	
			</div>
		</div>
	</body>
{% endblock %}