{% extends "base.html" %}

{% block title %}Add report{% endblock %}


{% block app_content %}

	<head>
		<style type="text/css">
			#container {
				background: rgba(255, 255, 255, 0.9);
				padding-bottom: 20px;
				padding-left: 40px;
			}

			#results {
				background: rgba(255, 255, 255, 0.9);
				padding-bottom: 20px;
			}

			body {
				height: 100%;
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;
			}


		</style>
	</head>

	<body>
		<div class="container-fluid" id="container">
			<title> View visit report</title>
				<h2>Visit report for {{ partner.name }} </h2>
				<br>
					<h4><b>Visit dates:</b> {{ visit.start_date }} - {{ visit.end_date }}</h4>
					<h4><b>{{ visit.vtype }} Visit ID:</b>  {{ visit.id }}</h4>
					<h4><b>{{ visit.vtype }} Report Submited by:</b>  {{ report.sname }}, {{ report.fname }}</h4>
				<br>
					<div>
	        			<p style="background-color:white;">{{ report.content }}</p>
	        		</div>
	        	<br>
				<p><a class="btn btn-primary btn-small" href="{{ url_for('reportdetails', id=visit.id)}}" role="button">&laquo; Return to report records for this visit </a></p>
	       	</div>
    	</div>
{% endblock %}

