{% extends "base.html" %}

{% block app_content %}
	
	<head>
		<style type="text/css">
			#container {
				background: rgba(255, 255, 255, 0.6);
				padding-bottom: 20px;
			}

			body {
				height: 100%;
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;				}
			}


		</style>
	</head>
	<div class="container-fluid" id="container">
		<h1>Reset your password</h1>
    		<div class="row">
        		<div class="col-md-4">
            		{{ wtf.quick_form(form) }}
        		</div>
    		</div>
    	</div>
	<hr>
{% endblock %}

