{% extends "base.html" %}

{% block app_content %}
	
	<head>
		<style type="text/css">
			#container {
				background: rgba(255, 255, 255, 0.9);
				padding-bottom: 20px;
				padding-left: 40px;
			}

			#results {
				background: rgba(255, 255, 255, 0.9);
				padding-bottom: 20px;
			}

			body {
				height: 100%;
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;
			}

			.btn {
                background-color: #4280B4 ;
                border-color: #4280B4 ;
            }

		</style>

	</head>

	<body>
		
		<div class="container-fluid" id="container">
			<h1>Partner Visit Records - {{ partner.name }}</h1>
        	<h3>Visit details</h3>
            <table class="table table-striped">
				<thead>
				<tr>
					<th scope="col">#</th>
			      	<th scope="col">Start</th>
			      	<th scope="col">End</th>
			      	<th scope="col">Type</th>
			      	<th scope="col">Reports</th>

			    </tr>
				</thead>
				<tbody>
			  	{% for v in visits %}
			    <tr>
					<th scope="row">{{ v.id }}</th>
					<td>{{ v.start_date }}</td>
					<td>{{ v.end_date }}</td>
			    	<td>{{ v.vtype }}</td>
			     	<td><a class="btn btn-primary btn-small" href="{{ url_for('reportdetails', id=v.id) }}" role="button">View/add reports &raquo;</a></td>
				</tr>
			    {% endfor %}
				</tbody>
			</table>
			<p><a class="btn btn-primary btn-small" href="{{ url_for('partner', id=partner.id)}}" role="button">&laquo; Return to partner </a></p>
			</div>
	</body>

{% endblock %}