{% extends "base.html" %}

{% block app_content %}
	<head>
	<h1>Partner Visit Record - {{ partner.name }}</h1>

	</head>

	<body>
		<div class="container-fluid">
        	<h3>Visit details</h3>
            <table class="table">
				<thead>
				<tr>
					<th scope="col">#</th>
			      	<th scope="col">Start</th>
			      	<th scope="col">End</th>
			      	<th scope="col">Type</th>
			      	<th scope="col">Reports</th>

			    </tr>
				</thead>
				<tbody>
			  	{% for v in visits %}
			    <tr>
					<th scope="row">{{ v.id }}</th>
					<td>{{ v.start_date }}</td>
					<td>{{ v.end_date }}</td>
			    	<td>{{ v.vtype }}</td>
			    	{% if reports %}
			     	<td><a href="">View reports</td>
			     	{% else %}
			     	<td><a href="{{ url_for('addreport', id=v.id) }}">Add reports</td>
			     	{% endif %}
				</tr>
			    {% endfor %}
				</tbody>
			</table>
			<p><a class="btn btn-secondary" href="{{ url_for('partner', id=partner.id)}}" role="button">Return to partner &raquo;</a></p>
			</div>
	</body>

	{% for collab in collabs %} <!-- for loop to display every object in list -->
	<div><p><b>{{ collab.contact.userid }} created a new partnership:</b>
		<br>Name: <a href="{{ url_for('partner', id=collab.id) }}">{{ collab.name }}</a>
		<br>Location: {{ collab.city }}, {{ collab.country }}
		<br>Type: {{ collab.ptype }}</p></div>
	{% endfor %}

{% endblock %}